<%- include('../partials/header') %>

<div class="dashboard">
    <div class="widgets">
        <%- include('../partials/dashboard/status') %>
        <%- include('../partials/dashboard/status') %>
        <%- include('../partials/dashboard/status') %>
        <%- include('../partials/dashboard/status') %>
        <%- include('../partials/dashboard/status') %>
    </div>
</div>

<%- include('../partials/footer') %>